*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: whitesmoke;
  font-family: 'IBMPlexSans';
}

.cols{
  display: flex;
  height: 100vh;
}

.col{
  flex:1;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  align-items: center;
  flex-wrap: nowrap;
}
.btn{
  border: 0;
  outline: 0;
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 6px;
  background: transparent;
  background: rgba(0,0,0,0.2);
  text-align: center;
}
.btn:hover{
  cursor: pointer;
  background: rgba(0,0,0,0.4);
}
.add-btn{
  position: absolute;
  background: fixed;
  top: 20px;
  right: 20px;
  background: rgba(255,0,0,0.7);
  padding: 10px 20px;
  border-radius: 50%;
  font-size: 28px;
}
.col__hex{
  font-size: 28px;
  letter-spacing: 2px;
  padding: 7px 20px;
  transition: 300ms;
  border-radius: 6px;
  background: rgba(0,0,0,0.2);
}

.col__options{
  display: flex;
  flex-direction: row;
  gap: 5px;

}



.icon{
  width: 20px;
  height: 25px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

.col__remove-icon{
  background-image: url(./imgs/close.svg)
}
.col__lock-icon{
  width: 30px;
  height: 30px;
  background-image: url(./imgs/lock-open.svg);
}
.col__lock-icon--close{
  background-image: url(./imgs/lock-close.svg);
}